h1 Fancybox Demo
h3 example
pre
  code
    | #{html}
    | #{body}

h3 Result
- echo $modules['fancybox']

hr

h1 Fancybox Grouped Demo
h3 example
pre
  code
    | #{html}
    | #{body}

h3 Result
- echo $modules['fancybox_grouped']

hr

h1 Fancybox Inline Demo
h3 example
pre
  code
    | #{html}
    | #{body}

h3 Result
- // echo $modules['fancybox_grouped']

hr

h1 Fancybox Iframe Demo
h3 example
pre
  code
    | #{html}
    | #{body}

h3 Result
- // echo $modules['fancybox_grouped']

hr